  ../../.DS_Store
        ../../.anaconda/
        ../../.astah/
        ../../.cache/
        ../../.condarc
        ../../.continuum/
        ../../.eclipse/
        ../../.gitconfig
        ../../.lesshst
        ../../.oh-my-zsh/
        ../../.p2/
        ../../.vscode/
        "../../.zcompdump-Jorge\342\200\231s MacBook Air-5.9"
        ../../.zprofile
        ../../.zsh_history
        ../../.zsh_sessions/
        ../../.zshrc
        ../../Applications/
        ../../Desktop/
        ../.DS_Store
        ../Python/
        ../diccionario_prueba.py
        ../prueba.drawio
        ../prueba.png
        ../../Downloads/
        ../../Fotos/
        ../../Library/
        ../../Movies/
        ../../Music/
        ../../Pictures/
        ../../Public/
        ../../eclipse-workspace/
        ../../eclipse/
        ../../workspace/
